doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body         
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block topContent
    .wrapper
      .menu-sidebar
        .menu-sidebar--wrapper
          if user
            .menu-sidebar__user-wrapper
              a.menu-sidebar__user.menu-sidebar__bookmarked(href="/bookmarked", class=(currentPath.startsWith('/bookmarked') ? 'menu-sidebar__bookmarked--active' : ''))
                span ☆
                span.heart-count #{user.bookmarked && user.bookmarked.length}
              a.menu-sidebar__user.menu-sidebar__bookmarked(href="/account", class=(currentPath.startsWith('/account') ? 'menu-sidebar__bookmarked--active' : ''))
                img.avatar(src=user.gravatar + '&d=retro')
          each item in h.menu
            if item.title === 'Add'
                if user != null && user.admin === 3 || user != null && user.admin === 4
                  a.menu-sidebar__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'menu-sidebar__link--active' : ''))
                    span #{item.title}

            else
              a.menu-sidebar__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'menu-sidebar__link--active' : ''))
                span #{item.title}

          
          if !user
            .menu-sidebar__sign-in-register
              a.menu-sidebar__user(href="/register", class=(currentPath.startsWith('/register') ? 'menu-top__link--active' : '')) Register
              a.menu-sidebar__user(href="/login", class=(currentPath.startsWith('/login') ? 'menu-top__link--active' : '')) Log In
              
      .content
        block content
    .menu
      .menu-btn
        span.menu-btn__icon

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places&language=en`)
      //script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)
      
      script(src="/dist/App.bundle.js")
      
