extends layout

include mixins/_completedQuest

block content       
    .single
        .single__hero(style=`background-image: url(/uploads/${quest.photoBig || quest.photo})`)
            //img.single__image(src=`/uploads/${quest.photo || 'store.png'}`)

            //- .single--mobile-menu
            //-     if user
            //-         .quest__action.quest__action--heart.quest__action--mobile
            //-             form.heart(method="POST" action=`/api/quests/${quest._id}/heart`)
            //-                 - const heartStrings = user.bookmarked.map(obj => obj.toString())
            //-                 - const heartClass = heartStrings.includes(quest._id.toString()) ? 'heart__button--hearted': ''
            //-                 button.heart__button.single__heart(type="submit" name="heart" class=heartClass) 
            //-                     span.heart__button--hearted--inactive ☆ 
            //-                         span.heart__text Bookmark
            //-                     span.heart__button--hearted--active ★
            //-                         span.heart__text Bookmarked

            //-     if user && !user.completed.toString().includes(quest.id.toString())
            //-         if user
            //-             .completed-quest.completed-quest--hidden#completed-quest-form
            //-                 +completedQuestForm(quest)
            //-             button.complete-quest#complete-quest.completed-quest--mobile
            //-                 span.complete-quest__icon ✓ 
            //-                     span.complete-quest__text Complete Quest
                            
            h2.title.title--single
                a(href=`/quest/${quest.slug}`) #{quest.name}
        .single__top-wrapper
            .single__user-options
                if user
                    .quest__action.quest__action--heart
                        form.heart(method="POST" action=`/api/quests/${quest._id}/heart`)
                            - const heartStrings = user.bookmarked.map(obj => obj.toString())
                            - const heartClass = heartStrings.includes(quest._id.toString()) ? 'heart__button--hearted': ''
                            button.heart__button.single__heart(type="submit" name="heart" class=heartClass) 
                                span.heart__button--hearted--inactive ☆ 
                                    span.heart__text Bookmark
                                span.heart__button--hearted--active ★
                                    span.heart__text Bookmarked

                if user && !user.completed.toString().includes(quest.id.toString())
                    if user
                        .completed-quest.completed-quest--hidden#completed-quest-form
                            +completedQuestForm(quest)
                        button.complete-quest#complete-quest
                            span.complete-quest__icon ✓ 
                                span.complete-quest__text Complete Quest

                if user && quest.author.equals(user._id) || user && user.admin === 4
                    .quest__action.quest__action--edit.edit-quest
                        a(href=`/quests/${quest._id}/edit`)
                            span.edit-quest__icon ✎
                                span.edit-quest__text Edit
        
            .single__details
                .single__quick-info
                    if quest.price
                        span.single__currency= quest.price
                    if quest.estimatedTime 
                        span.single__time= quest.estimatedTime 
                    if quest.location.city
                        span.single__location= quest.location.city
                    if quest.location.address
                        span.single__address= quest.location.address
                        
        p.single__description= quest.description

        if quest.tags
            ul.tags
                each tag in quest.tags
                    li.tag
                        a.tag__link(href=`/tags/${tag}`)
                            span.tag__text #{tag}

        div#map(data-lng=`${quest.location.coodrinates[0]}` data-lat=`${quest.location.coodrinates[1]}`)
                    
                    
        