extends layout

include mixins/_questCard
include mixins/_questCardMobile
include mixins/_pagination


block content
    div(class=isMobile ? '': 'inner--quest').inner
        if isMobile
            h2.quests--layout-option #{title}
            a(href=`/quest/${quests[0].slug}`)   
               .quest__hero.quest__hero--first(style=`background-image: url(/uploads/quest/${quests[0].photo || 'store.png'})`)
                  .quest__actions
                     if user
                        .quest__action.quest__action--heart
                           form.heart(method="POST" action=`/api/quests/${quests[0]._id}/heart`)
                              - const heartStrings = user.bookmarked.map(obj => obj.toString())
                              - const heartClass = heartStrings.includes(quests[0]._id.toString()) ? 'heart__button--hearted': ''
                              button.heart__button(type="submit" name="heart" class=heartClass) 
                                 span.heart__button--hearted--inactive ☆
                                 span.heart__button--hearted--active ★
               .quest__details
                  h2.title #{quests[0].name}
                  .quest__info
                     p= quests[0].description.split(' ').slice(0,15).join(' ').concat('...')
            .quests.quests--layout-option
               each quest, index in quests
                  if index != 0
                     +questCardMobile(quest, index)
            
        else
            .quests__wrapper
                .quests__display

                .quests.quests__desktop-wrapper
                    h2 #{title}
                    .quests__quest-wrapper
                        span.quests__quest-wrapper__move.quests__quest-wrapper__move--left.hidden
                        each quest, index in quests
                            +questCard(quest, index)
                        span.quests__quest-wrapper__move.quests__quest-wrapper__move--right
                    +pagination(page, pages, count, isMobile, '/quests/page')
            
            
        if isMobile
            +pagination(page, pages, count, isMobile, '/quests/page')
