extends layout

include mixins/_questCard
include mixins/_pagination

block content
    .inner
        h2 #{tag || title}
        h2= tag
    ul.tags
        each tag in tags
            li.tag
                a.tag__link.city__link(href=`/tags/${tag._id}`)
                    span.tag__text= tag._id
                    span.tag__count= tag.count

    .quests
        each quest, index in quests
            +questCard(quest, index)
    if tag
        +pagination(page, pages, count, `/tags/${tag}`)
    else
        +pagination(page, pages, count, `/tags`)
